.main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	text-align: center;
}

form {
	color: #8585ad;
}

form a {
	color: #4c4cff;
}

form a:hover {
	color: #ffffff;
}
