.burger_ingredients {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	color: var(--text-primary-color);
	font-family: 'Jet Brains Mono', serif;
}

.burger_ingredients a {
	display: block;
	color: #ffffff;
	text-decoration: none;
}

.menu {
	display: flex;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

.burger_ingredients > div {
	max-height: 756px;
}

.burger_ingredients > div > ul {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
}

.burger_ingredients > div > ul > li {
	flex-basis: calc(50% - 16px);
}
